<div class="banner">
  <div class="row banner-row">
    <div class="col-6"><h1>Sloshed</h1></div>
    <div id="banner-text" class="col-6 text-right">
      <p><span id="banner-typed-text"></span></p>
    </div>
  </div>
</div>
