.card {
  margin: 30px 30px;
  background: white;
  width: 300px;
  height: 400px;
  box-shadow:  0 1px 7px rgba(0,0,0,.05);
  color: black;
  text-decoration: none;
  border-radius: 4px 4px;
  background-size: cover;
  background-position: center;
}

#card-image {
  width: 100%;
  height: 80%;
  align-items: center;
  text-align: center;
}

.card-content {
  padding: 10px;
  height: 20%;
}

.card-name {
  font-weight: bold;
}

.card-info {
  font-weight: lighter;
}

.card-age {
  font-weight: normal;
}

.card-drink {
  padding: 16px;
  margin: 16px;
}



@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
