.container {
  width: 80vw;
  margin: 80px auto;
}

.cards-container {
  width: 80vw;
  margin: 80px auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px
}

@media(max-width: 992px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}
