.container-search {
  width: 80vw;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#search_name {
  width: 60vw;
  margin: 16px 16px;
}

.form-inline {
  margin: 0 auto;
}

