.navbar-dark {
  justify-content: space-between;
  background: #101010;
  color: white;
  &:hover {
    color: #1EDD88;
  }
}

.navbar-dark .navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-brand img {
  width: 40px;
  color: white;
}

.navbar-dark i:hover {
  color: #1EDD88;
}

.nav-link:hover {
  color: #1EDD88;
}
